<h1><%= @place.name %> <h1>
<h3><%= @place.description %></h3>
<ol>
  <p>
  -Adress: <%= @place.adress %>
  </p>
  <p>
  -Phone: <%= @place.phone %>
  </p>
  <p>
  -User who added this place: <%= link_to User.find_by_id(@place.user_id).username, User.find_by_id(@place.user_id) %>
  </p>

  <%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?" %>
</ol>


<% if @place.events.present? %>
  
  <ol>
  <h2> Events! </h2>
  <% @place.events.each do |event|%>
    
   <li>
      <h3><%= link_to event.name,  event %></h3> 
    
      <p>-<%= event.description %><p> 
   </li>
  <% end %>
</ol>
<% end %>

<%= link_to "Add an event", new_event_path(:place_id => @place.id)  %>
<%= link_to "Places", places_path %>
<%= link_to "Update", edit_place_path(@place) %>


